@use "_utils.scss" as *;

.board {
  width: 350px;
  background-color: $board-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 117px);
  grid-gap: 5px;
  cursor: pointer;

  .box {
    background-color: $box-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: $font-color;
    &:hover {
      background-color: $box-hover-color;
    }
  }
}
