.board {
  width: 350px;
  background-color: #457eac;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 117px);
  grid-gap: 5px;
  cursor: pointer;

  .box {
    background-color: #92c6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #222;
    &:hover {
      background-color: #66b0ec;
    }
  }

  .fa-circle::before {
  }

  .fa-times::before {
  }
}
